product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
system/system/apex/com.android.vndk.current.apex
system/system/app/MIUIVideoPlayer/MIUIVideoPlayer.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/priv-app/MIUIGalleryGlobal/MIUIGalleryGlobal.apk
boot.img
system_ext/priv-app/Settings/Settings.apk
